<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyeye.organization.dao.CompanyJobScoreFieldDao">

    <delete id="deleteCompanyJobScoreFieldByJobScoreId">
        DELETE
        FROM
            company_job_score_field
        <where>
            AND job_score_id IN
            <foreach collection="jobScoreIdList" item="jobScoreId" index="index" open="(" close=")" separator=",">
                #{jobScoreId}
            </foreach>
        </where>
    </delete>

</mapper>