<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.role.dao.SysEveRoleDao">
	
	<select id="querySysRoleList" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			a.remark,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			sys_eve_role a
		<where>
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.`name` LIKE '%${keyword}%'
			</if>
		</where>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="querySysRoleBandMenuList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			*
		FROM
		(SELECT
			a.id,
			a.menu_name name,
			CASE a.menu_parent_id WHEN '0' THEN (CASE WHEN a.desktop_id IS NULL THEN 'winfixedpage00000000' WHEN LENGTH(a.desktop_id) = 0 THEN 'winfixedpage00000000' ELSE a.desktop_id END) ELSE a.menu_parent_id END pId,
			b.sys_name sysName,
			CASE a.menu_url WHEN '--' THEN '盒子' ELSE '页面' END pageType
		FROM
			sys_eve_menu a
			LEFT JOIN sys_eve_win b ON a.sys_win_id = b.id
		ORDER BY a.order_num ASC) m
		UNION
		SELECT
			a.id,
			a.auth_menu_name name,
			CASE a.parent_id WHEN '0' THEN a.menu_id ELSE a.parent_id END pId,
			c.sys_name sysName,
			CASE a.type WHEN '1' THEN '权限点' WHEN '2' THEN '数据权限分组' WHEN '3' THEN '数据权限' ELSE '' END pageType
		FROM
			sys_eve_menu_auth_point a,
			sys_eve_menu b
			LEFT JOIN sys_eve_win c ON b.sys_win_id = c.id
		WHERE a.menu_id = b.id
		UNION ALL
		SELECT 
			*
		FROM
        (SELECT
            a.id,
            a.desktop_name name,
            '0' pId,
            '基础系统' sysName,
            '桌面' pageType
        FROM
            sys_eve_desktop a
        WHERE a.state != '0'
        ORDER BY a.order_by DESC) k
	</select>
	
	<insert id="insertSysRoleMenuMation" parameterType="java.util.Map">
	     insert into sys_eve_role_menu
	     (id, role_id, menu_id, creater, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.roleId}, #{item.menuId}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<delete id="deleteRoleMenuByRoleId" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_role_menu
		WHERE
			role_id = #{roleId}
	</delete>
	
	<select id="queryUserRoleByRoleId" resultType="java.lang.Integer">
		SELECT
			IFNULL(COUNT(a.id), 0) num
		FROM
			sys_eve_user a
		WHERE INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', #{roleId}, ','))
	</select>
	
	<select id="querySysRoleBandAppMenuList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT 
            *
        FROM
        (SELECT
            a.id,
            a.title name,
			CASE a.parent_id WHEN '0' THEN a.desktop_id ELSE a.parent_id END pId,
			c.desktop_name sysName,
			CASE (select parent_id from app_workbench_page where a.id = id) WHEN '0' THEN '目录' ELSE '页面' END pageType,
			'page' type
        FROM
            app_workbench_page a
			LEFT JOIN sys_eve_desktop c ON a.desktop_id = c.id
        ORDER BY a.order_by ASC) m
        UNION ALL
        SELECT
            a.id,
            a.title name,
			CASE a.parent_id WHEN '0' THEN a.page_id ELSE a.parent_id END pId,
			c.desktop_name sysName,
			CASE a.type WHEN '1' THEN '权限点' WHEN '2' THEN '数据权限分组' WHEN '3' THEN '数据权限' ELSE '' END pageType,
			'authPoint' type
        FROM
            app_workbench_page_auth a,
            app_workbench_page b
			LEFT JOIN sys_eve_desktop c ON b.desktop_id = c.id
        WHERE a.page_id = b.id
		UNION ALL
		SELECT
			*
		FROM
			(SELECT
				 a.id,
				 a.desktop_name name,
				 '0' pId,
				 '基础系统' sysName,
				 '桌面' pageType,
				 'page' type
			 FROM
				 sys_eve_desktop a
			 WHERE a.state != '0'
			 ORDER BY a.order_by DESC) k
    </select>
	
    <select id="querySysRoleAppMenuIdByRoleId" resultType="java.lang.String">
        SELECT 
            *
        FROM
        (SELECT
            a.page_id menuId
        FROM
            app_workbench_page_role a
        WHERE a.role_id = #{roleId}) m
        UNION
        SELECT
            a.auth_id menuId
        FROM
            app_workbench_page_auth_role a
        WHERE a.role_id = #{roleId}
    </select>

	<select id="querySysRoleMenuIdByRoleId" resultType="java.lang.String">
		SELECT
			a.menu_id menuId
		FROM
			sys_eve_role_menu a
		WHERE a.role_id = #{roleId}
	</select>

	<insert id="insertSysRoleAppMenuMation" parameterType="java.util.Map">
         insert into app_workbench_page_role
         (id, role_id, page_id)
         values
        <foreach collection="list" item="item" index="index" separator="," >  
            (#{item.id}, #{item.roleId}, #{item.menuId})  
        </foreach>  
    </insert>
	
    <delete id="deleteRoleAppMenuByRoleId" parameterType="java.util.Map">
        DELETE
        FROM
            app_workbench_page_role
        WHERE
            role_id = #{id}
    </delete>
	
    <insert id="insertSysRoleAppPointMation" parameterType="java.util.Map">
         insert into app_workbench_page_auth_role
         (id, role_id, auth_id)
         values
        <foreach collection="list" item="item" index="index" separator="," >  
            (#{item.id}, #{item.roleId}, #{item.pointId})  
        </foreach>  
    </insert>
	
    <delete id="deleteRoleAppPointByRoleId" parameterType="java.util.Map">
        DELETE
        FROM
            app_workbench_page_auth_role
        WHERE role_id = #{id}
    </delete>

</mapper>