<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.document.dao.DocumentDao">

    <select id="queryDocumentList" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.object_id objectId,
            a.object_key objectKey,
            a.type_id typeId,
            a.catalog_id catalogId,
            a.create_id createId,
            CONVERT(a.create_time, char) createTime,
            a.last_update_id lastUpdateId,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            skyeye_document a
        <where>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE '%${keyword}%'
            </if>
            <if test="objectId != null and objectId != ''">
                AND a.object_id = #{objectId}
            </if>
            <if test="objectKey != null and objectKey != ''">
                AND a.object_key = #{objectKey}
            </if>
            <if test="catalogId != null and catalogId != ''">
                AND a.catalog_id = #{catalogId}
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>