<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.StoreHouseDao">

    <select id="queryStoreHouseByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName,
            d.address,
            d.warehousing,
            d.truckage,
            d.remark,
            d.principal,
            d.tenant_id,
            d.is_default isDefault,
            CONVERT (d.create_time, CHAR) createTime
        FROM
            erp_depot d
        WHERE
            d.delete_Flag = 0
        <if test="name != '' and name != null">
            AND d.name LIKE '%${name}%'
        </if>
        ORDER BY d.create_time DESC
    </select>

    <select id="queryStoreHouseByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName
        FROM
            erp_depot d
        WHERE
            d.tenant_id = #{userId}
        AND d.name = #{name}
        AND d.delete_Flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <insert id="insertStoreHouse" parameterType="java.util.Map">
        INSERT into erp_depot(
            id,
	        name,
            address,
            warehousing,
            truckage,
            remark,
            principal,
	        tenant_id,
	        is_default,
	        create_time
        )VALUES(
	        #{id},
	        #{name},
            #{address},
            #{warehousing},
            #{truckage},
            #{remark},
	        #{principal},
	        #{userId},
	        #{isDefault},
	        #{createTime}
        )
    </insert>

    <select id="queryStoreHouseById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName,
            d.address,
            d.warehousing,
            d.truckage,
            d.remark,
            d.principal,
            d.tenant_id,
            d.is_default isDefault,
            CONVERT (d.create_time, CHAR) createTime
        FROM
            erp_depot d
        WHERE
            d.id = #{id}
        AND d.tenant_id = #{userId}
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <update id="editStoreHouseById" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            address = #{address},
            warehousing = #{warehousing},
            truckage = #{truckage},
            remark = #{remark},
            principal = #{principal},
            is_default = #{isDefault},
            name = #{name}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
        AND delete_Flag = 0
    </update>

    <update id="editStoreHouseByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            delete_Flag = #{deleteFlag}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
    </update>

    <update id="editStoreHouseByDefault" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
        AND delete_Flag = 0
    </update>

    <update id="editStoreHouseByDefaultAll" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            tenant_id = #{userId}
        AND delete_Flag = 0
    </update>

    <select id="queryStoreHouseByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id
        FROM
            erp_depot d
        WHERE
            d.id != #{id}
        AND d.tenant_id = #{userId}
        AND d.name = #{name}
        AND d.delete_Flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <select id="queryStoreHouseByIsDefault" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id
        FROM
            erp_depot d
        WHERE
            d.id = #{id}
        AND d.tenant_id = #{userId}
        AND d.is_default = 1
        AND d.delete_Flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>
</mapper>