<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.AccountDao">
    <select id="queryAccountByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            n.id,
            n.name accountName,
            n.serial_no serialNo,
            FORMAT(n.initial_amount,2) initialAmount,
            FORMAT((CASE IF(n.tax_last_money_price=0, 1, 2) WHEN 2 THEN n.initial_amount + n.tax_last_money_price ELSE n.initial_amount + n.total_price END),2) currentAmount,
            n.remark,
            n.is_default isDefault,
            n.delete_flag deleteFlag,
            CONVERT (n.create_time, CHAR) createTime,
            n.tenant_id tenantId
        FROM
            (
            SELECT
                a.id,
                a.name,
                a.serial_no,
                a.initial_amount,
                a.current_amount,
                a.remark,
                a.is_default,
                a.delete_flag,
                a.create_time,
                a.tenant_id,
                (SELECT IFNULL(
                    (CASE WHEN ed.sub_type IN (1, 2, 3, 4) THEN -ABS(SUM(ed.total_price)) ELSE SUM(ed.total_price) END), 0)
                FROM erp_depothead ed WHERE ed.account_id = a.id) total_price,
                (SELECT IFNULL(
                    CASE WHEN ed.sub_type IN (1, 2, 3, 4) THEN -ABS(SUM(IFNULL(ed.discount_money, 0) + IFNULL(ed.discount_last_money, 0)))
                    ELSE SUM(IFNULL(ed.discount_money, 0) + IFNULL(ed.discount_last_money, 0)) END, 0)
                FROM erp_depothead ed WHERE ed.account_id = a.id ) tax_last_money_price
            FROM
                erp_account a
            WHERE
                a.delete_flag = 0
            AND a.tenant_id = #{userId}
            <if test="accountName != '' and accountName != null">
                AND a.name LIKE '%${accountName}%'
            </if>
            <if test="serialNo != '' and serialNo != null">
                AND a.serial_no LIKE '%${serialNo}%'
            </if>
            <if test="remark != '' and remark != null">
                AND a.remark LIKE '%${remark}%'
            </if>
            ORDER BY a.create_time DESC
        ) n
    </select>

    <select id="queryAccountByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            erp_account a
        WHERE
            a.delete_flag = 0
        AND a.tenant_id = #{userId}
        AND a.name = #{accountName}
        ORDER BY a.create_time DESC LIMIT 0,1
    </select>

    <insert id="insertAccount" parameterType="java.util.Map">
        INSERT INTO erp_account(
            id, name, serial_no, initial_amount, current_amount, remark, is_default, tenant_id, delete_flag, create_time
        ) values (
            #{id}, #{accountName}, #{serialNo}, #{initialAmount}, #{currentAmount}, #{remark}, #{isDefault}, #{userId}, #{deleteFlag}, #{createTime}
        )
    </insert>

    <select id="queryAccountById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name accountName,
            a.serial_no serialNo,
            a.initial_amount initialAmount,
            a.current_amount currentAmount,
            a.remark,
            a.is_default isDefault,
            CONVERT (a.create_time, CHAR) createTime
        FROM
          erp_account a
        WHERE
            a.delete_flag = 0
        AND a.tenant_id = #{userId}
        AND a.id = #{id}
        ORDER BY a.create_time DESC LIMIT 0,1
    </select>

    <update id="editAccountByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_account
        <set>
            delete_flag = #{deleteFlag}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
    </update>

    <select id="queryAccountByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
          erp_account a
        WHERE
            a.delete_flag = 0
        AND a.tenant_id = #{userId}
        AND a.id != #{id}
        AND a.name = #{accountName}
        ORDER BY a.create_time DESC LIMIT 0,1
    </select>

    <update id="editAccountById" parameterType="java.util.Map">
        UPDATE erp_account
        <set>
            name = #{accountName},
            serial_no = #{serialNo},
            initial_amount = #{initialAmount},
            current_amount = #{currentAmount},
            remark = #{remark},
            is_default = #{isDefault}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
    </update>

    <select id="queryAccountByIdAndIsDeafault" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
          erp_account a
        WHERE
            a.delete_flag = 0
        AND a.is_default = 1
        AND a.tenant_id = #{userId}
        AND a.id = #{id}
        ORDER BY a.create_time DESC LIMIT 0,1
    </select>

    <update id="editAccountByIsDefault" parameterType="java.util.Map">
        UPDATE erp_account
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            tenant_id = #{userId}
    </update>

    <update id="editAccountByIdAndIsDefault" parameterType="java.util.Map">
        UPDATE erp_account
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            id = #{id}
        AND tenant_id = #{userId}
    </update>

    <select id="queryAccountByIdAndInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name accountName,
            a.serial_no serialNo,
            FORMAT(a.initial_amount, 2) initialAmount,
            FORMAT(a.current_amount, 2) currentAmount,
            a.remark,
            a.is_default isDefault,
            CONVERT (a.create_time, CHAR) createTime
        FROM
          erp_account a
        WHERE
            a.delete_flag = 0
        AND a.tenant_id = #{userId}
        AND a.id = #{id}
        ORDER BY a.create_time DESC LIMIT 0,1
    </select>

    <select id="queryAccountStreamById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.sub_type subType,
            d.default_number defaultNumber,
            d.number,
            CONVERT (d.oper_time, CHAR) operTime,
            CONVERT (d.create_time, CHAR) createTime,
            FORMAT(IFNULL(CASE WHEN d.sub_type IN (1,2,3,4) THEN -abs(d.total_price) ELSE d.total_price END,0), 2) totalPrice,
            s.supplier,
            FORMAT((IFNULL(d.discount_money,0) + IFNULL(d.discount_last_money,0)) ,2) taxLastMoneyPrice
        FROM
            erp_depothead d,
            erp_supplier s
        WHERE
            d.organ_id = s.id
        AND d.account_id = #{id}
        AND d.tenant_id = #{userId}
        AND d.delete_flag = 0
        AND d.sub_type NOT IN(10,11)
    </select>
    
    <select id="queryAccountListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.`name`
		FROM
			erp_account a
		WHERE
			a.tenant_id = #{userId}
		AND a.delete_flag = '0'
		ORDER BY a.is_default ASC
    </select>

    <select id="queryAccountItemMoneyById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            IFNULL(CASE WHEN d.sub_type IN (1,2,3,4) THEN -ABS(SUM(d.total_price)) ELSE SUM(d.total_price) END, 0) totalPrice
        FROM
            erp_depothead d
        WHERE
            d.account_id = #{id}
        AND d.tenant_id = #{userId}
        AND d.sub_type NOT IN(10,11)
    </select>
</mapper>