<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpCommonDao">

    <select id="queryDepotHeadDetailsMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.default_number defaultNumber,
			a.oper_person_name operPersonName,
			CONVERT (a.create_time, CHAR) createTime,
			CONVERT (a.oper_time, CHAR) operTime,
			b.supplier supplierName,
			c.`name` accountName,
			FORMAT(a.total_price, 2) totalPrice,
			CASE a.pay_type WHEN '1' THEN '现金' WHEN '2' THEN '记账' WHEN '3' THEN '其他' ELSE '' END payType,
			a.remark,
			a.status,
			a.status_content statusContent,
			a.link_number linkNumber,
			FORMAT(a.change_amount, 2) changeAmount,
			FORMAT(a.give_change, 2) giveChange,
			FORMAT(a.discount, 2) discount,
			FORMAT(a.discount_money, 2) discountMoney,
			FORMAT(a.discount_last_money, 2) discountLastMoney,
			FORMAT(a.other_money, 2) otherMoney,
			FORMAT((IFNULL(a.discount_money, 0) + IFNULL(a.discount_last_money, 0)), 2) taxLastMoneyPrice,
			<!-- 优惠后金额 - 本次付款金额 -->
			FORMAT((IFNULL(a.discount_last_money, 0) - IFNULL(a.change_amount, 0)), 2) arrears,
			a.other_money_list otherMoneyList,
			(SELECT group_concat(distinct m.user_name) FROM sys_eve_user_staff m WHERE INSTR(CONCAT(',', a.salesman, ','), CONCAT(',', m.user_id, ','))) salesMan
		FROM
			erp_depothead a
			LEFT JOIN erp_supplier b ON a.organ_id = b.id
			LEFT JOIN erp_account c ON a.account_id = c.id
		WHERE a.id = #{id}
		AND a.tenant_id = #{tenantId}
		AND a.delete_flag = '0'
    </select>
    
    <select id="queryDepotItemDetailsMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.material_id materialId,
			CONCAT(a.material_name, '(', a.material_model, ')') materialNames,
			a.oper_number operNumber,
			FORMAT(a.unit_price, 2) unitPrice,
			FORMAT(a.all_price, 2) allPrice,
			a.remark,
			b.`name` deportName,
			f.`name` anotherDepotName,
			IFNULL(e.`name`, c.unit_name) unitName,
			FORMAT(a.tax_unit_price, 2) taxUnitPrice,
			FORMAT(a.tax_rate, 2) taxRate,
			FORMAT(a.tax_money, 2) taxMoney,
			FORMAT(a.tax_last_money, 2) taxLastMoney,
			CASE a.m_type WHEN 0 THEN '普通' WHEN 1 THEN '组合件' WHEN 2 THEN '普通子件' ELSE '' END mTypeName
		FROM
			erp_depotitem a
			LEFT JOIN erp_depot b ON a.depot_id = b.id
			LEFT JOIN erp_depot f ON a.another_depot_id = f.id,
			erp_material c,
			erp_material_norms d
			LEFT JOIN erp_unit e ON d.unit_id = e.id
		WHERE
			a.header_id = #{id}
		AND a.delete_flag = '0'
		AND a.material_id = c.id
		AND a.m_unit_id = d.id
		ORDER BY a.m_type ASC
    </select>
    
    <select id="queryOddNumberBySubType" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			COUNT(a.id) num
		FROM
			erp_depothead a
		WHERE
			a.tenant_id = #{tenantId}
		AND a.sub_type = #{subType}
	</select>
	
	<select id="queryInoutitemMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			#{otherPrice} otherPrice
		FROM
			erp_inoutitem a
		WHERE
			a.id = #{inoutitemId}
		AND delete_flag = '0'
	</select>
	
	<select id="getAccountOrderNumBySubType" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			COUNT(a.id) num
		FROM
			erp_accounthead a
		WHERE
			a.tenant_id = #{tenantId}
		AND a.type = #{type}
	</select>
    
</mapper>