<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpTenantDao">

	<insert id="insertErpTenantGroupMation" parameterType="java.util.Map">
		INSERT INTO erp_tenant_group 
	    (id, group_name, create_id, create_time)
	    VALUES
	    (#{id}, #{groupName}, #{createId}, #{createTime})
	</insert>
	
	<select id="selectAllErpTenantGroupMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name name
		FROM
			erp_tenant_group a
		ORDER BY
			a.create_time
	</select>
	
	<insert id="insertErpTenantGroupUserByGroupId" parameterType="java.util.Map">
		INSERT INTO erp_tenant 
	    (id, group_id, user_id, create_id, create_time)
	    VALUES
	    <foreach collection="list" item="item" index="index" separator=",">
	    	(#{item.id}, #{item.groupId}, #{item.userId}, #{item.createId}, #{item.createTime})
	    </foreach>
	</insert>
	
	<update id="editErpTenantGroupNameByGroupId" parameterType="java.util.Map">
		UPDATE erp_tenant_group
		<set>
			group_name = #{groupName}
		</set>
		WHERE 
			id = #{groupId}
	</update>
	
	<delete id="deleteErpTenantGroupByGroupId" parameterType="java.util.Map">
		DELETE
		FROM
			erp_tenant_group
		WHERE
			id = #{groupId}
	</delete>
	
	<delete id="deleteErpTenantGroupUserByGroupId" parameterType="java.util.Map">
		DELETE
		FROM
			erp_tenant
		WHERE
			group_id = #{groupId}
	</delete>
	
	<delete id="deleteErpTenantGroupUserByGroupIdAndUserId" parameterType="java.util.Map">
		DELETE
		FROM
			erp_tenant
		WHERE
			id = #{id}
	</delete>
	
	<select id="selectUserInfoOnErpTenantGroup" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.user_name userName,
			b.phone,
			b.email
		FROM
			erp_tenant a,
			sys_eve_user_staff b
		WHERE
			a.group_id = #{groupId}
		AND a.user_id = b.user_id
		<if test="userName != '' and userName != null">
			AND b.user_name LIKE '%${userName}%'
		</if>
	</select>
	
	<select id="queryUserInGroupByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			erp_tenant a
		WHERE
			a.user_id = #{userId}
	</select>
	
</mapper>