<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.SalesOutLetDao">

    <select id="querySalesOutLetToList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.default_number defaultNumber,
			CONVERT (a.oper_time, char) operTime,
			a.oper_person_name operPersonName,
			b.supplier supplierName,
			FORMAT(a.total_price, 2) totalPrice,
			a.status,
			GROUP_CONCAT(DISTINCT CONCAT(c.material_name, c.material_model) SEPARATOR ',') materialNames,
			FORMAT(a.discount_last_money, 2) discountLastMoney,
			FORMAT(IFNULL(a.discount_last_money, 0) + IFNULL(a.discount_money, 0), 2) taxMoney,
			a.link_number linkNumber,
			FORMAT(a.change_amount, 2) changeAmount
		FROM
			erp_depothead a
			LEFT JOIN erp_supplier b ON a.organ_id = b.id
			LEFT JOIN erp_depotitem c ON c.header_id = a.id
		WHERE
			a.sub_type = '5'
		AND a.tenant_id = #{userId}
		AND a.delete_flag = '0'
        <if test="material != '' and material != null">
            AND c.material_name LIKE '%${material}%'
        </if>
        <if test="defaultNumber != '' and defaultNumber != null">
            AND a.default_number LIKE '%${defaultNumber}%'
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
			AND a.oper_time >= #{startTime} AND #{endTime} >= a.oper_time
		</if>
        GROUP BY a.id
        ORDER BY a.create_time DESC
    </select>
    
    <select id="queryMaterialsById" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id materialId,
			a.`name` materialName,
			a.model materialModel,
			b.id mUnitId,
			IFNULL(c.`name`, a.unit_name) unitName,
			IFNULL(c.number, '1') baseNumber,
			#{depotId} depotId
		FROM
			erp_material a,
			erp_material_norms b
			LEFT JOIN erp_unit c ON b.unit_id = c.id
		WHERE
			a.id = b.meterial_id
		AND b.id = #{mUnitId}
		AND a.id = b.meterial_id
		AND a.delete_flag = '0'
		AND b.delete_flag = '0'
    </select>
    
    <insert id="insertSalesOutLetMation" parameterType="java.util.Map">
        INSERT into erp_depothead
        (id, `type`, sub_type, default_number, number, oper_person_id, oper_person_name, create_time, oper_time, organ_id, account_id, total_price,
        	pay_type, remark, status, tenant_id, delete_flag,
        	discount, discount_money, discount_last_money, other_money, other_money_list, change_amount, salesman)
        VALUES(#{id}, #{type}, #{subType}, #{defaultNumber}, #{number}, #{operPersonId}, #{operPersonName}, #{createTime}, #{operTime}, #{organId}, #{accountId}, #{totalPrice},
        		#{payType}, #{remark}, #{status}, #{userId}, #{deleteFlag},
        		#{discount}, #{discountMoney}, #{discountLastMoney}, #{otherMoney}, #{otherMoneyList}, #{changeAmount}, #{salesMan})
    </insert>
    
    <insert id="insertSalesOutLetChildMation" parameterType="java.util.Map">
	     INSERT INTO erp_depotitem
	     (id, header_id, material_id, material_name, material_model, m_unit_id, oper_number, basic_number, unit_price, all_price, remark, depot_id,
	     	m_type, tenant_id, delete_flag,
	     	tax_unit_price, tax_rate, tax_money, tax_last_money)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.headerId}, #{item.materialId}, #{item.materialName}, #{item.materialModel}, #{item.mUnitId}, #{item.operNumber}, #{item.baseNumber}, #{item.estimatePurchasePrice}, #{item.allPrice}, #{item.remark}, #{item.depotId},
				#{item.mType}, #{item.userId}, #{item.deleteFlag},
				#{item.taxUnitPrice}, #{item.taxRate}, #{item.taxMoney}, #{item.taxLastMoney})  
		</foreach>  
	</insert>
	
	<select id="querySalesOutLetMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.default_number defaultNumber,
			CONVERT (a.oper_time, CHAR) operTime,
			a.organ_id organId,
			a.account_id accountId,
			CONVERT(a.total_price, decimal(24, 2)) totalPrice,
			a.pay_type payType,
			a.remark,
			CONVERT(a.change_amount, decimal(24, 2)) changeAmount,
			a.link_number linkNumber,
			CONVERT(a.discount, decimal(24, 2)) discount,
			CONVERT(a.discount_money, decimal(24, 2)) discountMoney,
			CONVERT(a.discount_last_money, decimal(24, 2)) discountLastMoney,
			CONVERT(a.other_money, decimal(24, 2)) otherMoney,
			CONVERT((IFNULL(a.discount_money, 0) + IFNULL(a.discount_last_money, 0)), decimal(24, 2)) taxLastMoneyPrice,
			<!-- 优惠后金额 - 本次付款金额 -->
			CONVERT((IFNULL(a.discount_last_money, 0) - IFNULL(a.change_amount, 0)), decimal(24, 2)) arrears,
			a.other_money_list otherMoneyList,
			a.salesman salesMan
		FROM
			erp_depothead a
		WHERE a.id = #{id}
		AND a.tenant_id = #{userId}
		AND a.delete_flag = '0'
		AND a.sub_type = '5'
    </select>
    
    <select id="querySalesOutLetItemMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.material_id materialId,
			a.oper_number operNumber,
			a.m_unit_id mUnitId,
			CONVERT(a.unit_price, decimal(24, 2)) unitPrice,
			CONVERT(a.all_price, decimal(24, 2)) allPrice,
			a.remark,
			a.depot_id depotId,
			CONVERT(a.tax_unit_price, decimal(24, 2)) taxUnitPrice,
			CONVERT(a.tax_rate, decimal(24, 2)) taxRate,
			CONVERT(a.tax_money, decimal(24, 2)) taxMoney,
			IFNULL(SUM(b.oper_number * (CASE c.sub_type 
									WHEN 10 THEN 0 
									WHEN 11 THEN 0 
									WHEN 12 THEN (CASE b.m_type WHEN 1 THEN -1 ELSE 1 END)
									WHEN 13 THEN (CASE b.m_type WHEN 1 THEN 1 ELSE -1 END)
									WHEN 14 THEN (CASE WHEN a.depot_id = a.depot_id THEN -1 ELSE 1 END)
									ELSE CASE c.type WHEN 2 THEN 1 ELSE -1 END
								END)), 0) currentTock,
			CONVERT(a.tax_last_money, decimal(24, 2)) taxLastMoney
		FROM
			erp_depotitem a
			LEFT JOIN erp_depotitem b ON (b.depot_id = a.depot_id OR b.another_depot_id = a.depot_id) AND b.m_unit_id = a.m_unit_id AND b.header_id != a.header_id
			LEFT JOIN erp_depothead c ON c.id = b.header_id
		WHERE
			a.header_id = #{id}
		AND a.delete_flag = '0'
		GROUP BY a.id
    </select>
    
    <delete id="deleteSalesOutLetChildMation" parameterType="java.util.Map">
		DELETE
		FROM
			erp_depotitem
		WHERE
			header_id = #{id}
	</delete>
	
	<update id="editSalesOutLetMationById" parameterType="java.util.Map">
		UPDATE erp_depothead
		<set>
			<if test="operTime != '' and operTime != null">
	            oper_time = #{operTime},
	        </if>
	        <if test="organId != '' and organId != null">
	            organ_id = #{organId},
	        </if>
            account_id = #{accountId},
            remark = #{remark},
            salesman = #{salesMan},
	        <if test="payType != '' and payType != null">
	            pay_type = #{payType},
	        </if>
	        <if test="totalPrice != '' and totalPrice != null">
	            total_price = #{totalPrice},
	        </if>
	        discount = #{discount},
	        discount_money = #{discountMoney},
	        discount_last_money = #{discountLastMoney},
	        change_amount = #{changeAmount},
	        other_money = #{otherMoney},
	        other_money_list = #{otherMoneyList},
		</set>
		WHERE id = #{id}
		AND tenant_id = #{userId}
		AND sub_type = '5'
	</update>
	
	<select id="querySalesManUserInfoById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.user_id id,
            a.user_name `name`,
            a.email
        FROM
            sys_eve_user_staff a
        WHERE
            INSTR(CONCAT(',', #{salesMan}, ','), CONCAT(',', a.user_id, ','))
    </select>
    
</mapper>