<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.menupc.dao.SysEveMenuDao">
	
	<select id="querySysMenuList" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_eve_menu a
		<where>
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND (a.menu_name LIKE '%${keyword}%' OR a.menu_name_en LIKE '%${keyword}%')
				</when>
				<otherwise>
					AND a.menu_parent_id = '0'
				</otherwise>
			</choose>
			<if test="sysWinId != '' and sysWinId != null and sysWinId != '0'.toString()">
				AND a.sys_win_id = #{sysWinId}
			</if>
		</where>
		ORDER BY a.order_num ASC
	</select>

	<select id="querySysMenuListByIds" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_name_en menuNameEn,
			a.icon,
			a.icon_color iconColor,
			a.icon_bg iconBg,
			a.icon_type iconType,
			a.icon_pic iconPic,
			a.menu_level menuLevel,
			a.menu_parent_id parentId,
			a.menu_url menuUrl,
			CASE a.desktop_id WHEN 'winfixedpage00000000' THEN '默认桌面' ELSE d.desktop_name END desktopName,
			a.order_num orderNum,
			a.is_share isShare,
			(SELECT COUNT(*) FROM sys_eve_role_menu d WHERE d.menu_id = a.id) roleNum,
			c.menu_name menuParentName,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			sys_eve_menu a
			LEFT JOIN sys_eve_menu c ON a.menu_parent_id = c.id
			LEFT JOIN sys_eve_desktop d ON a.desktop_id = d.id
		<where>
			<if test="ids != null and ids.size() &gt; 0">
				<foreach collection="ids" item="id" separator="," open=" AND a.id in(" close=")">
					#{id}
				</foreach>
			</if>
		</where>
		ORDER BY a.order_num ASC
	</select>
	
	<select id="querySysMenuAfterOrderBumByParentId" resultType="java.util.Map">
		SELECT
			a.order_num orderNum
		FROM
			sys_eve_menu a
		WHERE
			a.menu_parent_id = #{parentId}
		ORDER BY a.order_num DESC 
		LIMIT 1
	</select>
	
	<select id="querySysMenuMationBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_level menuLevel,
			IFNULL(k.desktop_name, '默认桌面') desktopName
		FROM
			sys_eve_menu a
			LEFT JOIN sys_eve_desktop k ON k.id = a.desktop_id
			<if test="parentId != &quot;0&quot;">
				,sys_eve_menu b
			</if>
		WHERE a.menu_parent_id = #{parentId}
		<if test="parentId != &quot;0&quot;">
			AND b.id = #{parentId}
			AND (b.menu_level + 1) = a.menu_level
		</if>
		ORDER BY a.order_num ASC
	</select>
	
	<select id="queryUseThisMenuRoleById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) roleNum
		FROM 
			sys_eve_role_menu d 
		WHERE d.menu_id = #{id}
	</select>
	
	<delete id="deleteSysMenuChildMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_menu
		WHERE menu_parent_id = #{id}
	</delete>

	<select id="querySysEveMenuISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.menu_parent_id = a.menu_parent_id
		AND a.order_num > b.order_num
		ORDER BY b.order_num DESC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortTopById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysEveMenuISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.menu_parent_id = a.menu_parent_id
		AND b.order_num > a.order_num
		ORDER BY b.order_num DESC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortLowerById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysEveMenuBySysId" resultType="java.util.Map">
        SELECT
            a.id,
            a.menu_name menuName,
			a.icon,
			a.icon_color iconColor,
			a.icon_bg iconBg,
			a.icon_type iconType,
			a.icon_pic iconPic,
            a.menu_name_en menuNameEn,
            a.menu_level menuLevel,
            a.menu_type menuType,
			a.menu_sys_type menuSysType,
            CASE a.menu_sys_type WHEN '1' THEN '是' ELSE '否' END menuSysTypeName,
            a.menu_parent_id parentId,
            a.menu_url menuUrl,
            CONVERT(a.create_time, char) createTime,
            b.user_name userName,
			a.sys_win_id sysWinId,
			e.sys_name sysWinName,
			a.desktop_id desktopId,
            CASE a.desktop_id WHEN 'winfixedpage00000000' THEN '默认桌面' ELSE d.desktop_name END desktopName,
            a.order_num orderNum,
			a.is_share isShare,
            CASE a.is_share WHEN '0' THEN '否' ELSE '是' END isShareName,
            IFNULL(c.menu_name, '') menuParentName,
            (SELECT COUNT(*) FROM sys_eve_role_menu d WHERE d.menu_id = a.id) roleNum,
            (SELECT COUNT(*) FROM sys_eve_menu_auth_point e WHERE e.menu_id = a.id) authpointNum

        FROM
            sys_eve_menu a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
            LEFT JOIN sys_eve_menu c ON a.menu_parent_id = c.id
            LEFT JOIN sys_eve_desktop d ON a.desktop_id = d.id
			LEFT JOIN sys_eve_win e ON a.sys_win_id = e.id
        WHERE a.id = #{id}
    </select>

	<select id="queryAllChildIdsByParentId" resultType="java.lang.String">
		<foreach collection="ids" item="id" index="idx" separator="UNION">
			SELECT
				d.id
			FROM
				(
					SELECT
						@ids${idx} AS _ids,
						(
							SELECT
								@ids${idx} := GROUP_CONCAT(id)
							FROM
								sys_eve_menu
							WHERE FIND_IN_SET(menu_parent_id, @ids${idx})
						) AS cids,
						@l${idx} := @l${idx} + 1 AS level
					FROM
						sys_eve_menu,
						(
							SELECT
								@ids${idx} := #{id},
								@l${idx} := 0
						) b
					WHERE @ids${idx} IS NOT NULL
				) i,
				sys_eve_menu d
			WHERE FIND_IN_SET(d.id, i._ids)
		</foreach>
	</select>

</mapper>