<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.menupc.dao.SysEveMenuDao">
	
	<select id="querySysMenuList" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_eve_menu a
		<where>
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND a.`name` LIKE '%${keyword}%'
				</when>
				<otherwise>
					AND a.parent_id = '0'
				</otherwise>
			</choose>
			<if test="sysWinId != '' and sysWinId != null and sysWinId != '0'.toString()">
				AND a.sys_win_id = #{sysWinId}
			</if>
		</where>
		ORDER BY a.order_num ASC
	</select>

	<select id="querySysMenuAfterOrderBumByParentId" resultType="java.util.Map">
		SELECT
			a.order_num orderNum
		FROM
			sys_eve_menu a
		WHERE
			a.parent_id = #{parentId}
		ORDER BY a.order_num DESC 
		LIMIT 1
	</select>
	
	<select id="querySysMenuMationBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			a.desktop_id desktopId,
			a.level
		FROM
			sys_eve_menu a
			<if test="parentId != &quot;0&quot;">
				,sys_eve_menu b
			</if>
		WHERE a.parent_id = #{parentId}
		<if test="parentId != &quot;0&quot;">
			AND b.id = #{parentId}
			AND (b.level + 1) = a.level
		</if>
		ORDER BY a.order_num ASC
	</select>
	
	<select id="queryUseThisMenuRoleById" resultType="java.util.Map">
		SELECT 
			COUNT(*) roleNum
		FROM 
			sys_eve_role_menu d 
		WHERE d.menu_id = #{id}
	</select>
	
	<select id="querySysEveMenuISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.parent_id = a.parent_id
		AND a.order_num > b.order_num
		ORDER BY b.order_num DESC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortTopById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysEveMenuISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.parent_id = a.parent_id
		AND b.order_num > a.order_num
		ORDER BY b.order_num ASC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortLowerById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryAllChildIdsByParentId" resultType="java.lang.String">
		<foreach collection="ids" item="id" index="idx" separator="UNION">
			SELECT
				d.id
			FROM
				(
					SELECT
						@ids${idx} AS _ids,
						(
							SELECT
								@ids${idx} := GROUP_CONCAT(id)
							FROM
								sys_eve_menu
							WHERE FIND_IN_SET(parent_id, @ids${idx})
						) AS cids,
						@l${idx} := @l${idx} + 1 AS level
					FROM
						sys_eve_menu,
						(
							SELECT
								@ids${idx} := #{id},
								@l${idx} := 0
						) b
					WHERE @ids${idx} IS NOT NULL
				) i,
				sys_eve_menu d
			WHERE FIND_IN_SET(d.id, i._ids)
		</foreach>
	</select>

</mapper>