<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.menupc.dao.SysEveMenuAuthPointDao">
	
	<select id="querySysEveMenuAuthPointListByMenuId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.auth_menu_name authMenuName,
			a.auth_menu authMenu,
			a.menu_num menuNum,
			a.parent_id parentId,
			a.type,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime,
			(SELECT COUNT(1) FROM sys_eve_role_menu b WHERE b.menu_id = a.id) useNum,
			(SELECT COUNT(1) FROM sys_eve_menu_auth_point c WHERE c.parent_id = a.id) childNum
		FROM
			sys_eve_menu_auth_point a
		<where>
			a.menu_id = #{menuId}
			<if test="authMenuName != '' and authMenuName != null">
				AND a.auth_menu_name LIKE '%${authMenuName}%'
			</if>
			<if test="authMenu != '' and authMenu != null">
				AND a.auth_menu LIKE '%${authMenu}%'
			</if>
			<if test="menuNum != '' and menuNum != null">
				AND a.menu_num LIKE '%${menuNum}%'
			</if>
		</where>
		ORDER BY a.create_time DESC
	</select>

	<insert id="insertBatch" parameterType="java.util.Map">
		INSERT into sys_eve_menu_auth_point
		(id, menu_id, auth_menu, auth_menu_name, menu_num, parent_id, type,
		 create_id, create_time, last_update_id, last_update_time)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id}, #{item.menuId}, #{item.authMenu}, #{item.authMenuName}, #{item.menuNum}, #{item.parentId}, #{item.type},
			 #{item.createId}, #{item.createTime}, #{item.lastUpdateId}, #{item.lastUpdateTime})
		</foreach>
	</insert>
	
</mapper>