<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.MQUserEmailDao">

    <select id="queryServiceMationBySericeId" resultType="java.util.Map">
    	SELECT
			a.id,
			a.order_num orderNum,
			b.user_name userName,
			a.service_user_id userId,
			IFNULL(b.email, '') email,
			IFNULL(a.cooperation_user_id, '') cooperationUserId
		FROM
			crm_service a,
			sys_eve_user_staff b
		WHERE a.id = #{serviceId}
		AND a.service_user_id = b.user_id
    </select>
    
    <select id="queryCooperationUserNameById" resultType="java.util.Map">
		SELECT
			b.user_id id,
			b.user_name `name`,
			b.email
		FROM
			crm_service a,
			sys_eve_user_staff b
		WHERE
			a.id = #{serviceId}
		AND INSTR(CONCAT(',', a.cooperation_user_id, ','),CONCAT(',', b.user_id, ','))
	</select>
	
	<insert id="insertNoticeListMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.noticeDesc}, #{item.content}, #{item.state}, #{item.userId}, #{item.type}, #{item.createId}, #{item.createTime})
		</foreach>  
	</insert>
	
</mapper>