<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SkyeyeClassFlowableDao">

    <select id="queryClassFlowableDataList" resultType="com.skyeye.eve.entity.classflowable.SkyeyeClassFlowableLinkMation">
        SELECT
            a.id,
            a.class_name className,
            a.service_name serviceName,
            a.listener_list listenerList
        FROM
            skyeye_class_flowable_link a
        <where>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != '' and keyword != null">
                AND a.serviceName like '%${keyword}%'
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
