<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysDictDataDao">

    <select id="queryDictDataList" resultType="com.skyeye.eve.entity.dict.SysDictDataMation">
        SELECT
            s.id,
            s.dict_name dictName,
            s.dict_type_id dictTypeId,
            a.dict_name dictTypeName,
            s.dict_sort dictSort,
            s.is_default isDefault,
            s.status,
            s.remark,
            a.create_id createId,
            CONVERT(s.create_time, char) createTime,
            a.last_update_id lastUpdateId,
            CONVERT(s.last_update_time, char) lastUpdateTime
        FROM
            sys_dict_data s
            LEFT JOIN sys_dict_type a ON s.dict_type_id = a.id
        <where>
            <if test="dictName != '' and dictName != null">
                AND s.dict_name LIKE '%${dictName}%'
            </if>
            <if test="dictTypeId != '' and dictTypeId != null">
                AND s.dict_type_id = #{dictTypeId}
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

    <select id="queryDictDataListByDictTypeCode" resultType="com.skyeye.eve.entity.dict.SysDictDataMation">
        SELECT
            s.id,
            s.dict_name dictName,
            s.dict_sort dictSort,
            s.is_default isDefault
        FROM
            sys_dict_data s,
            sys_dict_type a
        WHERE s.dict_type_id = a.id
        AND a.dict_code = #{dictTypeCpde}
        AND s.status = 0
        AND a.status = 0
        ORDER BY s.dict_sort ASC
    </select>

</mapper>