<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysDictTypeDao">

    <select id="queryDictTypeList" resultType="com.skyeye.eve.entity.dict.SysDictTypeMation">
        SELECT
            s.id,
            s.dict_name dictName,
            s.dict_code dictCode,
            s.dict_type dictType,
            s.status,
            s.remark,
            s.create_id createId,
            CONVERT(s.create_time, char) createTime,
            s.last_update_id lastUpdateId,
            CONVERT(s.last_update_time, char) lastUpdateTime
        FROM
            sys_dict_type s
        <where>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (s.dict_name LIKE '%${keyword}%' OR s.dict_code LIKE '%${keyword}%')
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

</mapper>