<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.AppWorkPageDao">

	<select id="queryAppWorkPageMaxOrderBumByParentId" resultType="java.lang.Integer">
		SELECT
			a.order_by orderBy
		FROM
			app_workbench_page a
		WHERE a.parent_id = #{parentId}
		ORDER BY a.order_by DESC 
		LIMIT 1
	</select>
	
	<select id="queryAppWorkPageList" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.state,
			a.logo,
			a.url,
			a.parent_id parentId,
			a.order_by orderBy,
			b.user_name createId,
			CONVERT(a.create_time, char) createTime
		FROM
			app_workbench_page a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		<where>
			a.state != 4
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.title LIKE '%${keyword}%'
			</if>
		</where>
		ORDER BY a.order_by ASC
	</select>
	
	<select id="queryAppWorkPageISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_by orderBy,
			a.order_by thisOrderBy
		FROM
			app_workbench_page a,
			app_workbench_page b
		WHERE
			a.id = #{id}
		AND a.order_by > b.order_by
		AND a.state != 4 AND b.state != 4
		AND a.type = 2 AND b.type = 2
		AND a.parent_id = #{parentId} AND b.parent_id = #{parentId}
		ORDER BY b.order_by DESC LIMIT 1
	</select>
	
	<update id="editAppWorkPageSortById" parameterType="java.util.Map">
		UPDATE app_workbench_page
		<set>
			order_by = #{orderBy},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryAppWorkPageISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_by orderBy,
			a.order_by thisOrderBy
		FROM
			app_workbench_page a,
			app_workbench_page b
		WHERE
			a.id = #{id}
		AND b.order_by > a.order_by
		AND a.state != 4 AND b.state != 4
		AND a.type = 2 AND b.type = 2
		AND a.parent_id = #{parentId} AND b.parent_id = #{parentId}
		ORDER BY b.order_by ASC LIMIT 1
	</select>

	<update id="editAppWorkPageStateById" parameterType="java.util.Map">
		UPDATE app_workbench_page
		<set>
			state = #{state},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>