<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.AppWorkPageAuthPointDao">
	
	<select id="queryAppWorkPageAuthPointListByMenuId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title authMenuName,
			a.url authMenu,
			a.auth_num menuNum,
			a.parent_id parentId,
			a.type,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime,
			(SELECT COUNT(*) FROM app_workbench_page_auth_role b WHERE b.auth_id = a.id) useNum,
			(SELECT COUNT(1) FROM app_workbench_page_auth c WHERE c.parent_id = a.id) childNum
		FROM
			app_workbench_page_auth a
		<where>
			a.page_id = #{menuId}
			<if test="authMenuName != '' and authMenuName != null">
				AND a.title LIKE '%${authMenuName}%'
			</if>
			<if test="authMenu != '' and authMenu != null">
				AND a.url LIKE '%${authMenu}%'
			</if>
			<if test="menuNum != '' and menuNum != null">
				AND a.auth_num LIKE '%${menuNum}%'
			</if>
		</where>
		ORDER BY a.create_time DESC
	</select>
	
</mapper>