<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysEveDesktopDao">

	<select id="querySysDesktopList" resultType="java.util.Map">
		SELECT
			a.id,
			a.desktop_name desktopName,
			a.desktop_name_cn desktopCnName,
			a.state,
			a.logo,
			a.order_by orderBy,
			(SELECT COUNT(*) FROM sys_eve_menu b WHERE b.desktop_id = a.id) allNum,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			sys_eve_desktop a
		<where>
			a.state != 0
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.desktop_name LIKE '%${keyword}%'
			</if>
		</where>
		ORDER BY a.order_by DESC
	</select>
	
	<update id="editSysDesktopStateById">
		UPDATE sys_eve_desktop
		<set>
			state = #{state}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysDesktopUpMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_eve_desktop a,
			sys_eve_desktop b
		WHERE
			a.id = #{id}
		AND b.order_by > a.order_by
		AND b.state != 0
		ORDER BY
			b.order_by ASC
		LIMIT 1
	</select>
	
	<update id="editSysDesktopMationOrderNumUpById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			order_by = #{upOrderBy},
		</set>
		WHERE id = #{id}
	</update>

	<select id="querySysDesktopDownMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_eve_desktop a,
			sys_eve_desktop b
		WHERE
			a.id = #{id}
		AND a.order_by > b.order_by
		AND b.state != 0
		ORDER BY
			b.order_by DESC
		LIMIT 1
	</select>
	
	<select id="queryAllSysDesktopList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            CASE #{language} WHEN 'zh' THEN a.desktop_name WHEN 'cn' THEN a.desktop_name_cn ELSE '' END name
        FROM
            sys_eve_desktop a
        WHERE a.state != 0
            ORDER BY a.order_by DESC
    </select>
    
    <update id="removeAllSysEveMenuByDesktopId" parameterType="java.util.Map">
        UPDATE sys_eve_menu
        <set>
            desktop_id = #{desktopId},
        </set>
        WHERE desktop_id = #{id}
    </update>
	
    <select id="querySysDesktopStateAndMenuNumById" resultType="java.util.Map">
        SELECT
            a.state,
            (SELECT COUNT(*) FROM sys_eve_menu b WHERE b.desktop_id = a.id) allNum
        FROM
            sys_eve_desktop a	
        WHERE 
            a.id = #{id}
    </select>

	<select id="querySysEveDesktopMaxOrderBum" resultType="java.lang.Integer">
		SELECT
			(IFNULL(a.order_by, 0) + 1) orderBy
		FROM
			sys_eve_desktop a
		WHERE a.state != 0
		ORDER BY a.order_by DESC
		LIMIT 1
	</select>

</mapper>