<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.CommonDao">
	
	<insert id="insertCodeModelHistory" parameterType="java.util.Map">
	     insert into code_model_history
	     (id, table_name, group_id, model_id, content, file_path, file_name, file_type, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.tableName}, #{item.groupId}, #{item.modelId}, #{item.content}, #{item.filePath}, #{item.fileName}, #{item.fileType}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<select id="queryAllPeopleToTree" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name `name`,
			a.p_id pId,
			'isCompany' folderType,
			1 isParent,
			'../../assets/images/company-icon.png' `icon`,
			'' `email`
		FROM
			company_mation a
		UNION ALL
		SELECT
			a.id,
			a.department_name `name`,
			a.company_id pId,
			'isDepartment' folderType,
			1 isParent,
			'../../assets/images/department-icon.png' `icon`,
			'' `email`
		FROM
			company_department a
		UNION ALL
		SELECT
			a.id,
			a.job_name `name`,
			a.department_id pId,
			'isJob' folderType,
			1 isParent,
			'../../assets/images/job-icon.png' `icon`,
			'' `email`
		FROM
			company_job a
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			k.job_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE a.state = '1'
		AND a.user_id = k.user_id
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
	<select id="queryCompanyMationByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			k.company_id companyId,
			k.department_id departmentId,
			k.job_id jobId
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE
			a.user_id = #{id}
		AND a.user_id = k.user_id
	</select>
	
	<select id="queryCompanyPeopleToTreeByUserBelongCompany" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name `name`,
			'0' pId,
			'isCompany' folderType,
			1 isParent,
			'../../assets/images/company-icon.png' `icon`,
			'' `email`
		FROM
			company_mation a
		WHERE a.id = #{companyId}
		UNION ALL
		SELECT
			a.id,
			a.department_name `name`,
			a.company_id pId,
			'isDepartment' folderType,
			1 isParent,
			'../../assets/images/department-icon.png' `icon`,
			'' `email`
		FROM
			company_department a
		WHERE a.company_id = #{companyId}
		UNION ALL
		SELECT
			a.id,
			a.job_name `name`,
			a.department_id pId,
			'isJob' folderType,
			1 isParent,
			'../../assets/images/job-icon.png' `icon`,
			'' `email`
		FROM
			company_job a
		WHERE a.company_id = #{companyId}
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			k.job_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE a.state = '1'
		AND a.user_id = k.user_id
		AND k.company_id = #{companyId}
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
	<select id="queryDepartmentPeopleToTreeByUserBelongDepartment" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name `name`,
			'0' pId,
			'isCompany' folderType,
			1 isParent,
			'../../assets/images/company-icon.png' `icon`,
			'' `email`
		FROM
			company_mation a
		WHERE a.id = #{companyId}
		UNION ALL
		SELECT
			a.id,
			a.department_name `name`,
			a.company_id pId,
			'isDepartment' folderType,
			1 isParent,
			'../../assets/images/department-icon.png' `icon`,
			'' `email`
		FROM
			company_department a
		WHERE a.company_id = #{companyId}
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			k.department_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE a.state = '1'
		AND a.user_id = k.user_id
		AND k.company_id = #{companyId}
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
	<select id="queryJobPeopleToTreeByUserBelongJob" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name `name`,
			'0' pId,
			'isCompany' folderType,
			1 isParent,
			'../../assets/images/company-icon.png' `icon`,
			'' `email`
		FROM
			company_mation a
		WHERE a.id = #{companyId}
		UNION ALL
		SELECT
			a.id,
			a.job_name `name`,
			a.company_id pId,
			'isJob' folderType,
			1 isParent,
			'../../assets/images/job-icon.png' `icon`,
			'' `email`
		FROM
			company_job a
		WHERE a.company_id = #{companyId}
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			k.job_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE a.state = '1'
		AND a.user_id = k.user_id
		AND k.company_id = #{companyId}
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
	<select id="querySimpleDepPeopleToTreeByUserBelongSimpleDep" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name `name`,
			'0' pId,
			'isDepartment' folderType,
			1 isParent,
			'../../assets/images/department-icon.png' `icon`,
			'' `email`
		FROM
			company_department a
		WHERE a.id = #{departmentId}
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			k.department_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			company_user k
		WHERE a.state = '1'
		AND a.user_id = k.user_id
		AND k.department_id = #{departmentId}
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
	<select id="queryTalkGroupUserListByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name `name`,
			'0' pId,
			'isGroup' folderType,
			1 isParent,
			'../../assets/images/talk-group-icon.png' `icon`,
			'' `email`
		FROM
			sys_talk_group a,
			sys_talk_group_user b
		WHERE
			a.id = b.group_id
		AND b.user_id = #{createId}
		UNION ALL
		SELECT
			a.user_id id,
			a.user_name `name`,
			c.group_id pId,
			'isPeople' folderType,
			0 isParent,
			'../../assets/images/people-icon.png' `icon`,
			a.email `email`
		FROM
			sys_eve_user_staff a,
			sys_talk_group_user b,
			sys_talk_group_user c
		WHERE a.state = '1'
		AND a.user_id = c.user_id
		AND b.user_id = #{createId}
		AND c.group_id = b.group_id
		AND LENGTH(a.user_id) > 0 AND a.user_id != ""
		<if test="userId != null and userId != ''">
			AND a.user_id != #{userId}
		</if>
		<if test="hasEmail != null and hasEmail != ''">
			AND LENGTH(a.email) > 0 AND a.email != ""
		</if>
	</select>
	
</mapper>